.root {
    --body-color: #efefef;
    --bg-color: #fff;
}

:root {
    --body-color: #efefef;
    --bg-color: #fff;
}

body {
    background: #833866;
    width: 100%;
    margin: 0px auto;
}

.container {
    margin-top: 0px;
}

.img-circle {
    border-radius: 50%;
    position: absolute;
    margin-top: 0;
    float: left;
}

.av a {
    color: #fff;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0%;
}

.out-av {
    padding: 10px 10px 2% 3%;
    display: flex;
}

.av {
    margin-top: 2%;
}

.av a:hover {
    color: rgb(89, 244, 255);
}

nav {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    background: rgb(48, 23, 56);
    padding: 5px 1%;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 100;
    list-style-type: none;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}

.menu {
    width: 44%;
    margin-left: 5%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    padding-right: 20px;
    margin-left: 50%;
    display: flex;
    align-items: center;
}

.nav-left {
    margin-left: 30%;
    padding-right: 2px;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.search-box {
    background: #efefef;
    padding-left: 10px!important;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-left: 2%;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 15px;
    outline: none;
    border: 0;
}

#duongdan {
    text-decoration: none;
    color: white;
}

.menu li {
    float: right;
}

.menu li a,
.dropbtn {
    font-size: 20px;
    display: : inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 5!important;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.signup {
    border: 1px solid rgb(177, 153, 184);
    border-radius: 20px;
}

.avatar a:hover {
    color: rgb(89, 244, 255);
    background-color: rgb(78, 68, 68);
}

.row_text_left {
    margin-top: 10px;
    width: 70%;
    height: 666px;
    margin-left: 10%;
    border: 5px solid rgb(211, 91, 22);
    border-radius: 20px;
    background: rgba(204, 203, 201, 0.322);
    padding-right: 30px;
    padding-left: 100px;
}

.footer {
    width: auto;
    margin-top: 110px;
    background: #7abfff;
    height: 300px;
    margin-bottom: -8px;
    border-top: 3px solid rgb(237 105 43);
}

.grid {
    max-width: 100%;
    margin-left: 10px;
}

.grid_row {
    display: flex;
    height: 50%;
    border-bottom: 1px solid #fff;
}

.footer_list {
    height: 40px;
    background: #7abfff;
}

.grid_cot1 {
    padding-right: 5px;
    padding-left: 5px;
    width: 30%;
    margin-top: 20px;
    margin-left: 60px;
}

.grid_cot {
    padding-right: 0px;
    width: 16.5%;
    text-decoration: none;
    margin-top: 20px;
    height: 230px;
    margin-left: 50px;
}

.grid_cot1 li,
.grid_cot li {
    list-style: none;
    color: rgb(33, 8, 44);
}

.grid_cot1 li a,
.grid_cot li a {
    text-decoration: none;
}

.grid_cot li a:hover {
    color: rgba(255, 255, 255, 0.5)
}

.footer_item_link {
    color: rgb(33, 8, 44);
}

.footer_item {
    margin: 7px auto;
}

.footer_list {
    padding-left: 10px;
    padding-left: 10px;
}

.grid_cot h3 {
    color: rgb(211, 91, 22);
    font-size: 20px;
}

.footer_heading {
    height: 30px;
    border-bottom: 2px solid rgb(211, 91, 22);
}

.copyright {
    margin-top: 20px;
    margin-left: 460px;
}